@{
    ViewBag.Title = "Statistics";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

@using HotelBooking.Models;
@model HotelBooking.Areas.Admin.Controllers.homeAdminController.ViewCountModel

@if(@ViewBag.tungay == null && @ViewBag.denngay == null){
    ViewBag.tungay = "";
    ViewBag.denngay = "";
}

@{
    string tmp_tungay = Convert.ToString(@ViewBag.tungay);
    string[] arrListStr_tungay = tmp_tungay.Split(' ');
    string tmp_denngay = Convert.ToString(@ViewBag.denngay);
    string[] arrListStr_denngay = tmp_denngay.Split(' ');

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thống Kê Tần Suất Đặt Phòng</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_panel">
            @*<div class="x_content">
                </div>*@

            <form method="post" action="BookingStatistics">
                <div class="col-md-3 col-sm-3 ">
                    <input type="text" name="fromDate" class="form-control" placeholder="Từ ngày" />
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <input type="text" name="toDate" class="form-control" placeholder="Đến ngày" />
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <input type="text" name="roomTypeName" class="form-control" placeholder="Nhập tên loại phòng" />
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <label class="btn btn-primary" data-toggle-class="btn-primary"
                        data-toggle-passive-class="btn-default">
                        <input type="submit" name="gender" value="male" class="join-btn" />
                        &nbsp; Thống Kê &nbsp;
                    </label>
                </div>
            </form>
            <br>
            <br>
            <table style="width: 100%">
                <thead>
                    <th>Tên loại phòng</th>
                    <th>Từ ngày</th>
                    <th>Đến ngày</th>
                    <th>Số lần được đặt</th>
                </thead>
                <body>
                    <tr>
                        @if (@Model != null)
                        {
                            <td>@ViewBag.tenloaiphong</td>
                            <td>@arrListStr_tungay[0]</td>
                            <td>@arrListStr_denngay[0]</td>
                            <td>@Model.bookingCount</td>
                        }
                    </tr>
                </body>
            </table>
        </div>
    </div>
</div>
<style>
    td, th {
        text-align: center;
    }
</style>

