@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
@using HotelBooking.Models;
@model IEnumerable<RoomType>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý loại phòng</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_content">
                <div id="gender" class="btn-group" data-toggle="buttons"></div>
                <div class="col-md-6 col-sm-6 ">

                    <div>
                        <button type="submit" class="btn btn-success" data-toggle="modal"
                            data-target="#divAddRoom" data-backdrop="static" data-keyboard="false">
                            Thêm
                        </button>
                    </div>

                    <form method="post" action="CreateRoomType">
                        <div id="divAddRoom" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Type Room Management</h4>
                                        <button type="button" class="close"
                                            data-dismiss="modal">
                                            &times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="form-group col-md-6">
                                                <label>Id_Type</label>
                                                <input class="form-control" name="Id_Type"/>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Name</label>
                                                <input class="form-control" name="Name"/>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Bed_Amount</label>
                                                <input class="form-control" name="Bed_Amount"/>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Size</label>
                                                <input class="form-control" name="Size"/>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Adult_Amount</label>
                                                <input class="form-control" name="Adult_Amount"/>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Children_Amount</label>
                                                <input class="form-control" name="Children_Amount"/>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Note</label>
                                                <input class="form-control" name="Note"/>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Active</label><br />
                                                <input type="radio" name="gender" value="True"/>Yes<br />
                                                <input type="radio" name="gender" value="False"/>No
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        &nbsp;
                                                <button type="button" data-dismiss="modal"
                                                    class="btn btn-danger">
                                                    Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <form method="post" action="SearchRoomType">
                    <div class="col-md-3 col-sm-3 ">
                        <input name="name" type="text" class="form-control" placeholder="Nhập tên loại phòng">
                    </div>
                    <div class="col-md-3 col-sm-3 ">
                        <label class="btn btn-primary" data-toggle-class="btn-primary"
                            data-toggle-passive-class="btn-default">
                            <input type="submit" name="gender" value="male" class="join-btn">
                            &nbsp; Tìm kiếm &nbsp;
                        </label>
                    </div>
                </form>

                <br>
                <br>
                <table style="width: 100%">
                    <thead>
                        <th>action
                        </th>
                        <th>id_Type
                        </th>
                        <th>Name
                        </th>
                         <th>Bed_Amount
                        </th>
                         <th>Size
                        </th>
                         <th>Adult_Amount
                        </th>
                         <th>Children_Amount
                        </th>
                        <th>Note
                        </th>
                        <th>Active
                        </th>
                    </thead>

                    <body>
                        @foreach (RoomType item in Model)
                        {
                            <tr>
                                <td>
                                    <a id="btnDelete" class="glyphicon glyphicon-trash" href="/Admin/ManageRoomTypes/Delete/@item.Id_Type"></a>&nbsp; &nbsp;
                                    <a id="btnModify" class="glyphicon glyphicon-pencil" href="/Admin/ManageRoomTypes/Edit/@item.Id_Type"></a>
                                </td>
                                <td>@item.Id_Type</td>
                                <td>@item.Name</td>
                                <td>@item.Bed_Amount</td>
                                <td>@item.Size</td>
                                <td>@item.Adult_Amount</td>
                                <td>@item.Children_Amount</td>
                                <td>@item.Note</td>
                                <td>
                                    <span id="btnActive" class="glyphicon glyphicon-play"></span>
                                </td>
                            </tr>
                        }
                    </body>
                </table>
            </div>
        </div>
    </div>
</div>

